body {
    margin: 10px;
}


.delete-btn {
    background-color: rgb(214, 154, 164);
    color: black;
}
.grid-container{
    display: grid;
    grid-template-columns: 40% 20% 10%;
    margin-top: 10px;
    margin-left: 30px;
}
.name-heading, .phone-heading{
    font-size: 30px;
    font-weight: bold;
    color: #4d4b4b;
    text-transform: uppercase;
}
.grid-item{
    font-size: 20px;
    font-weight: bold;
}